[submodule "submodules/libpng"]
	path = submodules/libpng
	url = https://git.code.sf.net/p/libpng/code
[submodule "submodules/libz"]
	path = submodules/libz
	url = https://github.com/madler/zlib.git
[submodule "submodules/jsoncpp"]
	path = submodules/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL.git
