# .h is actually C++ for this project.
*.h linguist-language=C++

# These files have made my project look like C for too long.
src/Data/Mission/Embedded/* linguist-generated
src/Tests/Data/Mission/Embedded/* linguist-generated

submodules/* linguist-vendored
src/Sound/OpenAL/MojoAL/Library/* linguist-vendored
src/Graphics/SDL2/GLES2/glad/* linguist-vendored
